
.container-home{
    background-color: black;

    
}
.arcos video {
  width: 1300px;
  margin-left: 150px;

}

.banner-texto{
  width:800px ;
}

.banner-texto h1{
color: white;
  position: relative;
  top: -420px;
  left: 150px;
  z-index: 2;
   font-family: 'Radio Canada';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 144px;

}
