
.container-home{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;


    
}

video {
  width: 1300px;
 
  margin-left: 150px;

}

.banner-texto{
  width:800px ;
  height: 0px;
}

.banner-texto h1{
color: white;
  position: fixed;
  top: 220px;
  left: 150px;
  z-index: 2;
   font-family: 'Radio Canada';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 144px;

}
@media (max-width: 600px) {
  video{
  width: 300px;
  margin-top: 300px;
  }
  .banner-texto h1{
    font-size: 18px;
    position: fixed;
    top: 300px;
  }
  
}
