.container{
    width: auto;
    height: auto;
    background-color: #014E58;
    display: flex;
    flex-direction: column;
}
.arcos img{
    margin-top: 150px;
    width: 1300px;
    height: 630px;
    margin-left: 95px;

  
}
.bandeiras-logo{
    margin-top: -600px;
}



