.menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 30px 50px 30px 200px;
}
.menu-footer a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-bottom: 15px;
}
.menu-footer a:hover{
    color: #EC8382;
    transition: .5s;
}
.div-footer {
  background-color: #ced4da;
  width: 100vw;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.h1-menu{
    font-weight: bold;
    text-decoration: underline 4px solid #ec8382;
    border-radius: 30px;
    margin-bottom: 10px;
}
.links-externos{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.links-externos img{
    width: 32px;
    height: 32px;
}
.footer-direitos{
    margin-left: 60px;
  
}
.footer-direitos img{
    margin-right: 5px;
}