.container-principal-dobra04 {
  display: flex;
  flex-direction: column;
  background: #ced4da;
  width: auto;
  height: auto;
}
.div-cards {
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-dobra04 {
  color: black;
  margin-top: 150px;
 
  background-image: url(../../assets/retangulo03.svg);
  background-size: 400px;
  background-repeat: no-repeat;
  flex-direction: column;
 
}

.card-dobra04 h1 {
  font-size: 45px;
  margin-left: 60px;
}
@media(max-width:600px){
 
  .div-cards{
    display: flex;
    justify-content: center;
  }
  .card-dobra04{
    margin-left: 30px;

    margin-top: 270px;
   background-image: none;
  }
  .card-dobra04 h1{
    font-size: 28px;
    margin-left: 40px;
  }
}
