.card-titulo {
  width: 380px;
  height: 100px;
  background: #ffffff;
  border-radius: 30px 30px 50px 50px;
}
.card-titulo h1 {
  padding: 30px 30px 30px 30px;
  text-align: center;
  text-transform:uppercase;
}

.card-preco01 {
  width: 380px;
  height: 455px;
  background: black;
  border-radius: 30px;
  z-index: 1;
}
.card-texto-preco span {
  color: white;
  font-size: 16px;
  text-align: center;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 15px 15px 35px 15px;
}
.assine {
  width: 161px;
  height: 48px;
  background: #0050ff;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.card-texto-preco {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.assine:hover{
  background-color: white;
  color: black;
  }

 
 