.container-principal-dobra02 {
  display: flex;
  flex-direction: column;
  height: auto;

  background: #ced4da;
}
.card-text {
  width: 800px;
  height: 200px;
  color: black;
  margin-top: 150px;
  background-image: url(../../assets/retangulo03.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  flex-direction: column;
}

.card-text h1 {
  font-size: 56px;
  margin-left: 60px;
}
.card-clientes {
  width: 1300px;
  height: 400px;
  border: 10px solid #0050ff;
  border-radius: 50px;
  margin-left: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.clientes,
.clientesMinty,
.clientesTerra {
  width: 300px;
  height: 100px;
  margin-top: 50px;
}
.clienteNet {
  width: 300px;
  height: 100px;
  margin-top: 50px;
}
.card-coluna1 {
  display: flex;
  flex-direction: column;
  padding: 80px 80px 80px 80px;
}
.card-coluna2 {
  display: flex;
  flex-direction: column;
  padding: 80px 80px 80px 80px;
}
@media (max-width: 600px) {
  .container-principal-dobra02 {
    width: 100vw;
    height: 100vh;
  
  }
  .card-text {
    width: 0;
    margin-top: 270px;
    margin-bottom: 0;
    background-image: none;
  }
  .card-text h1{
    font-size: 28px;
  }
  .card-clientes {
    width: 350px;
    height: 400px;
    border: 10px solid #0050ff;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .card-coluna1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
  }
  .card-coluna2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 0;
  }

  .clientes,
  .clientesMinty,
  .clientesTerra {
    width: 100px;

    margin-left: 30px;
  }
  .clienteNet {
    width: 100px;
    margin-bottom: 0;
  }
}
